
@{
    ViewBag.Title = "AdminEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<br />
<h1>Yeni Kullanici Ekleme Sayfasi</h1>
<br />
<form class="form-group" method="post">
    <input type="text" name="KullaniciAdi" class="form-control" placeholder="Kullanici Adini Giriniz..." />
    <br />

    <input type="text" name="Sifre" class="form-control" placeholder="Sifrenizi giriniz..." />
    <br />

    

    <button class="btn btn-info">Kaydet</button>
</form>

